name: run tests on aws machine

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore: # Ignore changes to markdown files
      - '**.md'
      - '**.service'
      - '**.timer'
      - '**.sh'
      - 'docs/**'
      - 'github_runners_service_files/**'
# Cancel previous runs of this workflow if a new run is triggered
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  aws-non-concurrent-tests-job:
    timeout-minutes: 35
    runs-on:
      labels: [self-hosted, linux]
    permissions:
      issues: write
      pull-requests: write
      contents: read
    steps:
      - name: Check for required labels
        if: ${{ github.event_name == 'pull_request'}}
        uses: mheap/github-action-required-labels@v5
        with:
          mode: exactly
          count: 1
          labels: "run_aws_tests"
          message: "If you want to run the self-hosted non concurrent aws test, add the `run_aws_tests` label to this PR. Click `Details` -> `Re-run jobs` to rerun this particular job."
      # - name: Start Postgres for tests
      #   run: |
      #     docker run --name test-postgres -e POSTGRES_USER=user -e POSTGRES_PASSWORD=password -e POSTGRES_DB=test_db -p 5433:5432 -d postgres:16
      # - name: Wait for Postgres readiness
      #   run: |
      #     until docker exec test-postgres pg_isready -U user -d test_db; do sleep 1; done
      # - name: Check out repository code
      #   uses: actions/checkout@v4
      # # https://docs.astral.sh/uv/guides/integration/github/#syncing-and-running
      # - name: Install required libraries
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y libzbar0
      # # Add any additional libraries here
      # - name: Install uv
      #   uses: astral-sh/setup-uv@v5
      #   with:
      #     version: "0.6.1"
      # - name: Install the project
      #   run: |
      #     uv sync --locked --all-extras --dev
      # - name: Run pre-commit hooks
      #   run: |
      #     uv run pre-commit run --all-files
      # - name: Run tests
      #   run: |
      #     uv run python cli.py init-test-db
      #     uv run pytest -d --tx 5*popen -vv ./tests \
      #     --maxfail=5 --durations=10 \
      #     --cov=app --cov-config=.coveragerc --cov-report=html:calc_cov

      # - name: Upload coverage report
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: coverage-report
      #     path: calc_cov
      # - name: Stop and Remove Postgres container
      #   if: always()  # <<=== important: run even if previous steps failed
      #   run: |
      #     docker rm -f test-postgres || true
