name: run local tests

on:
  workflow_dispatch: # Manually trigger the workflow

jobs:
  local-tests-job:
    timeout-minutes: 35
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      contents: read
    steps:
      - name: Start Postgres for tests
        run: |
          docker run --name test-postgres -e POSTGRES_USER=user -e POSTGRES_PASSWORD=password -e POSTGRES_DB=test_db -p 5433:5432 -d postgres:16
      - name: Wait for Postgres readiness
        run: |
          until docker exec test-postgres pg_isready -U user -d test_db; do sleep 1; done
      - name: Check out repository code
        uses: actions/checkout@v4
      # https://docs.astral.sh/uv/guides/integration/github/#syncing-and-running
      - name: Install required libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y libzbar0
      # Add any additional libraries here
      - name: Start SSH agent and add private key
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.1"
      - name: Install the project
        run: |
          uv sync --locked --all-extras --dev
      - name: Run pre-commit hooks
        run: |
          uv run pre-commit run --all-files
      - name: Run tests
        run: |
          uv run python cli.py init-test-db
          uv run pytest -d --tx 5*popen -vv ./tests \
          --maxfail=5 --durations=10 \
          --cov=app --cov-config=.coveragerc --cov-report=html:calc_cov

      - name: Stop and Remove Postgres container
        if: always()  # <<=== important: run even if previous steps failed
        run: |
          docker rm -f test-postgres || true
